*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root{
    --primary-color: #0F1B4C;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}   

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    min-width: 98px;
    display: inline-block;
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 15px 16px;
}

.btn:hover{
    opacity: 0.9;
}

a{
    text-decoration: none;
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =============header========== */
.fixed-header{
    background: #E6F0FF;
    position: sticky;
    top: -26px;
    z-index: 1;
    padding-top: 26px;
}

.hero-wrap{
    display: flex;
    flex-flow: column;
    position: relative;
    height: calc(100vh - 90px);
    background: #E6F0FF;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul{
    display: flex;
    margin-left: 49px;
}

.navbar ul a{
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 7px 14px;
}

.navbar ul a:hover{
    text-decoration: underline;
}

.navbar .action{
    margin-left: auto;
}

.navbar .action-link{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
}

.navbar .action-btn{
    padding: 10px 16px;
    border-radius: 8px;
}

.hero{
    margin-top: 120px;
}

.hero .info{
    width: 51%;

}

.hero .sub-title{
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01px;
}

.hero .title{
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem; 
}

.hero .desc{
    margin-top: 30px;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero-cta{
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc(((100vw - 1100px) / 2) - 100px);
    bottom: 0;
}

/* =============Client========== */

.clients{
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row{
    display: flex;
    justify-content: space-between;
}

.clients .content .row p{
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem; /* 125% */
}

.clients .row + .row{
    margin-top: 23px;
}

.client-logos{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-logos a{
    display: flex;
    align-items: center;
    height: 92px;
    padding: 0 42px;
}

.client-logos a:hover{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    
}

/* ==========Guides========= */

.guides{
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title{
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
    position: relative;
}

.guides .sub-title::before{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    border-radius: 12px;
    background: #000339;
    width: 41px;
    height: 4px;
    flex-shrink: 0;
}

.guides .content .desc{
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

/* =============List-guides========== */

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap:  140px;
}

.guide-item{
    /* margin: 0 70px; */
    text-align: center;
}

.guide-item .title{
    margin-top: 26px;
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem; /* 110% */
}

.guide-item .link span{
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    font-size: 1.4rem;
    font-weight: 600;
}

.vector{
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn{
    min-width: 170px
}

/* ===========featured========== */

.featured {
    padding: 110px 0;
    margin-top: 41px;
    background-color: #F5FAFE;
}

.featured .sub-title{
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.88; /* 100% */
}
.featured .desc{
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}

.featured .row{
    margin-top: 15px;
    display: flex;
    justify-content:  space-between;
}

.featured .link{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0689FF;
}

.featured .list{
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    background-color: #FFF;
    border-radius: 12px;
    flex: 1;
}

.featured .item .thumb{
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body{
    padding: 17px 20px 24px;
}

.featured .item .title a{
    color: #000339;
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 2rem; /* 100% */
   
}

.featured .item .desc{
    color: #A3A6AB;
    --line-clamp: 3;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-a;
}

.featured .item .info{
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .item .info .label{
    color:#4D4D52; 
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    margin-left: 8px;
    margin-right: 22px;
}

.featured .item .info .label:last-child{
    margin-right: 0;
}

/* =============stats========== */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content{
    width: 1048px;
}

.stats .row{
    display: flex;

}

.stats .img-block, .stats .info{
    width: 50%;
}
.stats .img-block{
    position: relative;
}

.stats .img-block .image{
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info{
    padding: 79px 0 0 165px;
}

.stats-trend{
    width: 239px;
    padding: 45px 22px 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .value{
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats-trend .icon{
    margin-left: auto;
}
.stats-trend .desc{
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
}
.stats-trend .separate{
    margin-top: 25px;
    height: 1px;
    border: 1px solid #E9E9E9;
}

.stats-trend .avatar-block{
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
}

.stats-trend .avatar-group{
    display: flex;
}

.stats-trend .avatar{
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
}

.stats-trend .avatar:first-child{
    margin-left: 0;
}

.stats .info .sub-title{
    margin-top: 4px;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.5rem; /* 128.571% */
    position: relative;
}


.stats .sub-title::before{
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    left: 0;
    top: -10px;
}

.stats .info .desc{
    width: 309px;
    margin-top: 20px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.0rem; /* 187.5% */
}

.stats .row-qty{
    margin-top: 110px;
    padding: 0 32px;
    justify-content: space-between;
}

.stats .qty{
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc{
    margin-top: 24px;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ==============subscription========== */

.subscription{
    margin-top: 90px;
}

.subscription .body{
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
    position: relative;
}

.subscription .info{
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .info .sub-title{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .info .desc{
    margin-top: 15px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.75;
}

.subscription .info .btn{
    min-width: 151px;
    margin-top: 34px;
    color: #002366;
    background: #FFF;
}

.subscription .image{
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* =========footer======= */

.footer{
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row{
    display: flex;
}

.footer .row-top{
    gap: 185px;
}

.footer .heading{
    color: #1C1C1D;
    font-family: 'Lato',sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc{
    margin-top: 42px;
}

.footer .item{
    margin-top: 10px;
}

.footer .item a,
.footer .desc{
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;   
}

.footer .desc{
    white-space: normal;
    line-height: 1.75;
}
.footer .social{
    display: flex;
}

.footer .social-link{
    margin-top: 38px;
    width: 28px;
    height: 28px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: 16px;
}

.footer .social-link:hover{
    background-color: #ebebeb;
}

.footer .row-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright{
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}